<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.odm.managesystem.dao.ConfigMapper">



    <select id="getSubTypes" parameterType="String"  resultType="String">
		select ccName from clothesClass where userid=#{ccParentClassName}
	</select>

    <insert id="createNewTypes" parameterType="map" >
        insert into clothesClass (ccName,ccParentClassName) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.ccName}, #{item.ccParentClassName})
        </foreach>
    </insert>

    <delete id="deleteTypes" parameterType="java.util.List">
        delete from clothesClass where ccName in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="getProductGroups" parameterType="String"  resultType="String">
		select * from productGroup
	</select>

    <insert id="createNewProductGroup" parameterType="java.util.List" >
        insert into productGroup (groupName) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteProductGroup" parameterType="java.util.List">
        delete from productGroup where groupName in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getPlackets" parameterType="String"  resultType="String">
		select * from placket
	</select>

    <insert id="createNewPlacket" parameterType="java.util.List" >
        insert into placket ( placketName) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deletePlacket" parameterType="java.util.List">
        delete from placket where placketName in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getLengths" parameterType="String"  resultType="String">
		select * from length
	</select>

    <insert id="createNewLength" parameterType="java.util.List" >
        insert into length (length) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteLength" parameterType="java.util.List">
        delete from length where length in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getCollars" parameterType="String"  resultType="String">
		select * from collar
	</select>

    <insert id="createNewCollar" parameterType="java.util.List" >
        insert into collar ( collar) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteCollar" parameterType="java.util.List">
        delete from collar where collar in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getDecorations" parameterType="String"  resultType="String">
		select * from decoration
	</select>

    <insert id="createNewDecoration" parameterType="java.util.List" >
        insert into decoration ( decoration) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteDecoration" parameterType="java.util.List">
        delete from decoration where decoration in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getDetachParts" parameterType="String"  resultType="String">
		select * from detachPart
	</select>

    <insert id="createNewDetachPart" parameterType="java.util.List" >
        insert into detachPart ( detachPart) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteDetachPart" parameterType="java.util.List">
        delete from detachPart where detachPart in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getFabricTypes" parameterType="String"  resultType="String">
		select * from fabricType
	</select>

    <insert id="createNewFabricType" parameterType="java.util.List" >
        insert into fabricType ( fabricType) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteFabricType" parameterType="java.util.List">
        delete from fabricType where fabricType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
    <select id="getFeatures" parameterType="String"  resultType="String">
		select * from feature
	</select>

    <insert id="createNewFeature" parameterType="java.util.List" >
        insert into feature (feature ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteFeature" parameterType="java.util.List">
        delete from feature where feature in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getMaterials" parameterType="String"  resultType="String">
		select * from material
	</select>

    <insert id="createNewMaterial" parameterType="java.util.List" >
        insert into material ( material) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteMaterial" parameterType="java.util.List">
        delete from material where material in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getPatternTypes" parameterType="String"  resultType="String">
		select * from patternType
	</select>

    <insert id="createNewPatternType" parameterType="java.util.List" >
        insert into patternType (patternType ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deletePatternType" parameterType="java.util.List">
        delete from patternType where patternType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getProducePlaces" parameterType="String"  resultType="String">
		select * from producePlace
	</select>

    <insert id="createNewProducePlace" parameterType="java.util.List" >
        insert into producePlace (producePlace ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteProducePlace" parameterType="java.util.List">
        delete from producePlace where producePlace in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getProcessCrafts" parameterType="String"  resultType="String">
		select * from processCraft
	</select>

    <insert id="createNewProcessCraft" parameterType="java.util.List" >
        insert into processCraft ( processCraft) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteProcessCraft" parameterType="java.util.List">
        delete from processCraft where processCraft in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <select id="getSleeveLengths" parameterType="String"  resultType="String">
		select * from sleeveLength
	</select>

    <insert id="createNewSleeveLength" parameterType="java.util.List" >
        insert into sleeveLength ( sleeveLength) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteSleeveLength" parameterType="java.util.List">
        delete from sleeveLength where sleeveLength in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getSleeveTypes" parameterType="String"  resultType="String">
		select * from sleeveType
	</select>

    <insert id="createNewSleeveType" parameterType="java.util.List" >
        insert into sleeveType ( sleeveType) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteSleeveType" parameterType="java.util.List">
        delete from sleeveType where sleeveType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getStyles" parameterType="String"  resultType="String">
		select * from style
	</select>

    <insert id="createStyle" parameterType="java.util.List" >
        insert into style (style ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteStyle" parameterType="java.util.List">
        delete from style where style in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getSupplyTypes" parameterType="String"  resultType="String">
		select * from supplyType
	</select>

    <insert id="createNewSupplyType" parameterType="java.util.List" >
        insert into supplyType ( supplyType) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteSupplyType" parameterType="java.util.List">
        delete from supplyType where supplyType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getCrafts" parameterType="String"  resultType="String">
		select * from craft
	</select>

    <insert id="createNewCraft" parameterType="java.util.List" >
        insert into craft ( craft) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteCraft" parameterType="java.util.List">
        delete from craft where craft in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getThickness" parameterType="String"  resultType="String">
		select * from thickness
	</select>

    <insert id="createNewThickness" parameterType="java.util.List" >
        insert into thickness ( thickness) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteThickness" parameterType="java.util.List">
        delete from thickness where thickness in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getProductTypes" parameterType="String"  resultType="String">
		select * from productType
	</select>

    <insert id="createProductType" parameterType="java.util.List" >
        insert into productType (productType ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteProductType" parameterType="java.util.List">
        delete from productType where productType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getColors" parameterType="String"  resultType="String">
		select * from color
	</select>

    <insert id="createColor" parameterType="java.util.List" >
        insert into color ( color) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteColor" parameterType="java.util.List">
        delete from color where color in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getDressTypes" parameterType="String"  resultType="String">
		select * from dressType
	</select>

    <insert id="createDressType" parameterType="java.util.List" >
        insert into dressType (dressType ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteDressType" parameterType="java.util.List">
        delete from dressType where dressType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getFengges" parameterType="String"  resultType="String">
		select * from fengge
	</select>

    <insert id="createNewfengge" parameterType="java.util.List" >
        insert into fengge (fengge ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteFengge" parameterType="java.util.List">
        delete from fengge where fengge in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getDressWaistlines" parameterType="String"  resultType="String">
		select * from dress_waistline
	</select>

    <insert id="createNewDressWaistline" parameterType="java.util.List" >
        insert into dress_waistline ( dress_waistline) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteDressWaistline" parameterType="java.util.List">
        delete from dress_waistline where dress_waistline in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getFashionElements" parameterType="String"  resultType="String">
		select * from fashionElements
	</select>

    <insert id="createNewFashionElements" parameterType="java.util.List" >
        insert into fashionElements ( fashionElements) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteFashionElements" parameterType="java.util.List">
        delete from fashionElements where fashionElements in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getSmears" parameterType="String"  resultType="String">
		select * from smear
	</select>

    <insert id="createNewSmear" parameterType="java.util.List" >
        insert into smear ( smear) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteSmear" parameterType="java.util.List">
        delete from smear where smear in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getPlateTypes" parameterType="String"  resultType="String">
		select * from plateType
	</select>

    <insert id="createNewPlateType" parameterType="java.util.List" >
        insert into plateType (plateType ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deletePlateType" parameterType="java.util.List">
        delete from plateType where plateType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getFabricWeights" parameterType="String"  resultType="String">
		select * from fabricWeight
	</select>

    <insert id="createNewFabricWeight" parameterType="java.util.List" >
        insert into fabricWeight ( fabricWeight) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteFabricWeight" parameterType="java.util.List">
        delete from fabricWeight where fabricWeight in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getPrintingMethods" parameterType="String"  resultType="String">
		select * from printingMethod
	</select>

    <insert id="createNewPrintingMethod" parameterType="java.util.List" >
        insert into printingMethod (printingMethod ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deletePrintingMethod" parameterType="java.util.List">
        delete from printingMethod where printingMethod in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getSizes" parameterType="String"  resultType="String">
		select * from size
	</select>

    <insert id="createNewSize" parameterType="java.util.List" >
        insert into size ( size) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteSize" parameterType="java.util.List">
        delete from size where size in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getPantStyles" parameterType="String"  resultType="String">
		select * from pantStyle
	</select>

    <insert id="createNewPantStyle" parameterType="java.util.List" >
        insert into pantStyle (pantStyle ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deletePantStyle" parameterType="java.util.List">
        delete from pantStyle where pantStyle in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getWaistTypes" parameterType="String"  resultType="String">
		select * from waistType
	</select>

    <insert id="createNewWaistType" parameterType="java.util.List" >
        insert into waistType ( waistType) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteWaistType" parameterType="java.util.List">
        delete from waistType where waistType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getSleeveStyles" parameterType="String"  resultType="String">
		select * from sleeveStyle
	</select>

    <insert id="createSleeveStyle" parameterType="java.util.List" >
        insert into sleeveStyle (sleeveStyle ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteSleeveStyle" parameterType="java.util.List">
        delete from sleeveStyle where sleeveStyle in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getUpperClotheTypes" parameterType="String"  resultType="String">
		select * from upperClotheType
	</select>

    <insert id="createNewUpperClotheType" parameterType="java.util.List" >
        insert into upperClotheType ( upperClotheType) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteUpperClotheType" parameterType="java.util.List">
        delete from upperClotheType where upperClotheType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getCoatTypes" parameterType="String"  resultType="String">
		select * from coatType
	</select>

    <insert id="createNewCoatType" parameterType="java.util.List" >
        insert into coatType (coatType ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteCoatType" parameterType="java.util.List">
        delete from coatType where coatType in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getFrontStyles" parameterType="String"  resultType="String">
		select * from frontStyle
	</select>

    <insert id="createNewFrontStyle" parameterType="java.util.List" >
        insert into frontStyle ( frontStyle) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteFrontStyle" parameterType="java.util.List">
        delete from frontStyle where frontStyle in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getApplys" parameterType="String"  resultType="String">
		select * from apply
	</select>

    <insert id="createNewApply" parameterType="java.util.List" >
        insert into apply ( apply) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteApply" parameterType="java.util.List">
        delete from apply where apply in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getQunLengths" parameterType="String"  resultType="String">
		select * from qunLength
	</select>

    <insert id="createNewQunLength" parameterType="java.util.List" >
        insert into qunLength ( qunLength) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteQunLength" parameterType="java.util.List">
        delete from qunLength where qunLength in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="getDesigns" parameterType="String"  resultType="String">
		select * from design
	</select>

    <insert id="createNewDesign" parameterType="java.util.List" >
        insert into design (design) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item})
        </foreach>
    </insert>

    <delete id="deleteDesign" parameterType="java.util.List">
        delete from design where design in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>


</mapper>